body {
    font-family: 'Roboto', sans-serif;
    background: url(../img/anime-wallpaper.jpg);
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 200px;
    justify-content: center;
	align-items: center;
	height: 100vh;
}

.anime h3 {
    display: block;
    background: linear-gradient(180deg, #734573 26.04%, #D59EB5 100%);
    min-width: 100%;
    text-align: center;
    height: 40px;
    border-radius: 5px;
    margin-top: 0;
    padding-top: 20px;
    
    

    }
.anime {
    width: 350px;
    min-height: auto;
    background: linear-gradient(180deg, #5D335C 0%, #B5617B 100%);
    align-items: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 20px;
    

    
    
    
}
.anime button {
    width: 60%;
    height: 30px;
    background: linear-gradient(180deg, #4413B3 0%, #600D36 100%);
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    margin: 15px;    
    color: #DDC772;

}
.actualite{

    background: linear-gradient(180deg, #68385F 0%, #AF5D78 100%);
    width: 50%;
    border-radius: 15px;
    
    
    
}
main{
    display: flex;
    
}
.actualite h3 {
    text-align: center;
    min-width: 100%;
    background: linear-gradient(180deg, #734573 26.04%, #D59EB5 100%);
    border-radius: 5px;
    height: 40px;
    margin-top: 0;
    padding-top: 20px;
    
}
.pan{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.pan2{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.pan p {
    left: 30px;
}
.actualite ,.anime , .tchat{
    margin-top: 100px;
    margin-bottom: 100px;
}

.pan2 img, .pan2 img{
display: flex;
flex-direction: column;
}
.tchat{
    background: linear-gradient(180deg, #68385F 0%, #AF5D78 100%);
    width: 100%;
    border-radius: 15px;
    margin-left: 20px;
    height: 250px;
    margin-bottom: 30px;

    
}
.tchat h3 {
    text-align: center;
    min-width: 100%;
    background: linear-gradient(180deg, #734573 26.04%, #D59EB5 100%);
    border-radius: 5px;
    height: 40px;
    margin-top: 0;
    padding-top: 20px;
    
}
.tchat textarea{
    background-color: #D59EB5;
    margin: 20px;
    resize: none;
    
}
.actualite hr{
    border: 0;
    width: 50%;
    height: 3px;
    background-color: black;
}
nav{
    display: flex;
    
}
nav h2{
    font-family: 'Roboto' sans-serif;
    text-align: center;
    color: #000000;
    
}
.fiche, .decouverte, .forum, .goodies {
    background: linear-gradient(180deg, #734573 26.04%, #D59EB5 100%);
    width: 25%;
    
   
    border-radius: 10px;
}
.gif{
    display: flex;
    height: 250px;
    margin-left: 100px;

}
.titreP{
    text-decoration: none;
}
