/* tableau d'insertion de l'image */

#imagePreview {width: 200px;height: 200px;border: 2px solid #ddd;}
#imagePreview img {width: 100%;height: 100%;object-fit: cover}

/* image */
.page_photo{display: flex}

/* forme générale des blocs */
#myForm div{justify-content: space-around;margin: 5%;background-color: #D3D3D3;border-radius: 5%;}

/* formulaire complet (premier bloc) */
#formulaire{display: flex;margin-top: 20%;}

#bouton{display:flex;justify-content : space-evenly}

#bouton button,p{width: 75%}

#text {justify-content: space-around}

body {
    background: linear-gradient(rgb(65, 36, 82) 0%, rgb(181, 97, 123) 71.46%);
}

/* synopsis */
#Synopsis{ background-color:#D3D3D3 }
textarea{resize:none;height: 250px;width: 95%; align-self: center}
