.header {
    width: 100%;
    background: linear-gradient(180deg, #412452 0%, #B5617B 71.46%);
    min-height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}
.title {
    
    font-size: 4rem;
    margin: 15px;
    font-family: 'Rock Salt', cursive;
    color: #DDC772;
    
    
}
.header-gauche{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-droite{
    display: flex;
    flex-direction: column;
}
.conection {
    background: linear-gradient(180deg, #412452 39.17%, rgba(31, 18, 64, 0.99) 39.18%, rgba(213, 158, 181, 0.55) 70.42%);
    border-radius: 15px;
    margin: 10px;
    height: 30px;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
}
.conection a, .register a {
text-decoration: none;
    color: #DDC772;
}
    
.register{
    background: linear-gradient(180deg, #412452 39.17%, rgba(31, 18, 64, 0.99) 39.18%, rgba(213, 158, 181, 0.55) 70.42%);
    border-radius: 15px;
    margin: 10px;
    height: 30px;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    color: #DDC772;
}
#search{
    
    height: 25px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #D9D9D9;
    position: relative;
    left: 13%;
}
#vector{
    margin: 15px;
    height: 15px;
    width: 15px;
    position: relative;
    right: 5%;
    
}
.search{
    display: flex;
    align-items: center;
}
 
.switch input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
    margin: 0px;
}

#lSwitch {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 20px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
    bottom: 1px;
    
}

#lSwitch:after {
	content: '';
	position: absolute;
	top: 0.5px;
	left: 5px;
	width: 19px;
	height: 19px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

#switch:checked + label {
	background: #bada55;
}

#switch:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 30px;
}

.switch {
    display: flex;
    align-items: center;
    

}
#logo-lune {
    width: 15px;
    height: 15px;
    margin: 5px;
    bottom: 5px;
    
}
#logo-soleil{
    width: 18px;
    height: 18px;
    margin: 5px;
    bottom: 5px;
}
#emoji-jap {
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
}
nav{
    display: flex;
    position: sticky;
    top: 0;
    
}
nav h2{
    font-family: 'Roboto' sans-serif;
    text-align: center;
    color: #000000;
    
}
.fiche, .decouverte, .forum, .goodies {
    background: linear-gradient(180deg, #734573 26.04%, #D59EB5 100%);
    width: 25%;
    
   
    border-radius: 10px;
}
body {
	
	justify-content: center;
	align-items: center;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: linear-gradient(180deg, #412452 0%, #B5617B 71.46%);;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 200px;
}
.titreP{
    text-decoration: none;
}
footer {
    min-width: 100%;
    background: linear-gradient(180deg, #412452 0%, #B5617B 71.46%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    
    bottom: 0;
}

footer div {
display: flex;
justify-content: space-between;
}

footer div a {
    text-align: center;
    color: black;
    text-decoration: none;
    width: 25%;
    border-left: 1px solid black ;
    font-weight: 600;
}

footer div :first-child {
    border-left: 0px ;
}

footer figure img {
    height: 25px;

}
footer figure p {
    margin-top: 0;

}


#formulaire{
    margin: 50px;
    margin-bottom: 0;
}

.titles {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#imageperso {
    display: flex;
    justify-content: center;
}

.physique {
    background-color: grey;
    width: 30%;
    display: flex;
    
}
.physique2 {
    margin-left: 5%;
    
}