footer {
    min-width: 100%;
    /* position: fixed; */
    background: linear-gradient(180deg, #412452 0%, #B5617B 71.46%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    /*margin-top: 50px;*/
    bottom: 0;
}

footer div {
display: flex;
justify-content: space-between;
}

footer div a {
    text-align: center;
    color: black;
    text-decoration: none;
    width: 25%;
    border-left: 1px solid black ;
    font-weight: 600;
}

footer div :first-child {
    border-left: 0px ;
}

footer figure img {
    height: 25px;

}
footer figure p {
    margin-top: 0;

}