main img{
    width: 25%;
    display: flex;
    margin: 20px;
    float: left;
    
}
main section{
    width: 90%;
    background: linear-gradient(180deg, #5D335C 0%, #B5617B 100%);
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: column;
    border-radius: 15px;
}
main{
    display: flex;
    justify-content: center;
}
#title{
    
    width: 100%;
    background: linear-gradient(180deg, #734573 26.04%, #D59EB5 100%);
    border-radius: 5px;
    margin: 0;
    color: #DDC772;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section button{
    height: 40px;
    width: 200px;
    border-radius: 20px;
    background: linear-gradient(180deg, #4413B3 0%, #600D36 100%);
    color: #DDC772;
    font-family: 'Roboto', sans-serif;
}
section p{
    margin: 15px;
}